PORT=5000
DB_URL=54MZMi8egsr9cbpD
NODE_ENV=development

# jwt
JWT_ACCESS_SECRET=99c5cee7b4d7cf84011fe92781d73fe11b8c54a0c12ba9f002f9d0488c826af4
SOLT_ROUND=10
JWT_EXPIRES=1d
JWT_REFRESH_SECRET=e7d3432cddb91404332aab6ff83101d5f71572c16c9e9d8d54a19021e3cd0dd0
JWT_REFRSH_EXPIRES=20d

# super admin
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
# use this line generate access key
node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
